{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<a href="{% url 'blog_create' %}" class="btn">+ New Blog Post</a>

<div class="nav-right">
    {% for post in posts %}
    <div class="post-entry card">
        <h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.body }}</p>

        <a href="{% url 'blog_update' post.pk %}" class="btn btn-edit">Edit</a>
        <a href="{% url 'blog_delete' post.pk %}" class="btn btn-delete">Delete</a>
    </div>
    {% empty %}
    <p>No posts yet.</p>
    {% endfor %}
</div>

{% endblock content %}
